.gallery-book-container{
    min-height:100vh;

    background:linear-gradient(rgb(56, 56, 25),rgb(131, 100, 100),rgb(226, 173, 173),rgb(232, 232, 226));

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    width:100%;
    padding:40px 20px;
}

.gallery-book-container{
    min-height:100vh;
    padding:140px 20px 60px;
}

.gallery-title{
    color:#d4af37;
    font-size:42px;
    margin-bottom:25px;
    text-align:center;
    letter-spacing:2px;
}

.page{
    background:#fff8eb;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    padding:15px;

    box-shadow:
        inset 0 0 25px rgba(0,0,0,.08);
}

.cover{
    padding:0;
    overflow:hidden;
    background:#000;
}

.cover-image{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    border-radius:2px;
}

.gallery-page img{
    width:90%;
    height:360px;
    object-fit:cover;

    border-radius:10px;
}

.gallery-page h3{
    margin-top:15px;
    font-size:22px;
    color:#222;
}

/* ==========================
   BACK COVER
========================== */

.back-cover{
    padding:0;
    overflow:hidden;
    background:#000;
}

.back-cover-image{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.book-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:auto;
}