.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:15px 8%;

  background:rgba(0,0,0,0.75);

  backdrop-filter:blur(10px);

  z-index:1000;

  box-sizing:border-box;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo img{
  width:60px;
  height:60px;

  border-radius:50%;

  object-fit:cover;

  border:2px solid #d4af37;
}

.logo span{
  color:#d4af37;

  font-size:24px;

  font-weight:600;

  font-family:'Cinzel', serif;
}

.nav-links{
  display:flex;
  gap:35px;

  list-style:none;
}

.nav-links a{
  text-decoration:none;

  color:white;

  font-size:17px;

  font-weight:500;

  transition:.3s;
}

.nav-links a:hover{
  color:#d4af37;
}

.nav-links a.active{
  color:#d4af37;
}

@media(max-width:768px){

  .navbar{
    flex-direction:column;
    padding:15px;
  }

  .nav-links{
    margin-top:15px;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
  }

  .logo span{
    font-size:18px;
  }

}