.navbar{
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;

  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 80px;

  background:rgba(30,20,10,0.75);
  backdrop-filter:blur(10px);
}

.logo span{
  display:block;
  color:#d4af37;
  font-size:28px;
  font-weight:bold;
}

.logo p{
  color:white;
  margin:0;
}

nav{
  display:flex;
  gap:30px;
}
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
nav a{
  color:white;
  text-decoration:none;
  transition:.3s;
}

nav a:hover{
  color:#d4af37;
}
.logo{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo img{
  width:50px;
  height:50px;

  border-radius:18px;

  padding:4px;

  /* background:
    rgba(255,255,255,0.08);

  backdrop-filter:blur(8px); */

  border:1px solid rgba(212,175,55,.4);

  object-fit:cover;
}
.logo img{
  width:105px;
  height:105px;

  border-radius:50%;

  object-fit:fill;

  border:2px solid #d4af37;
}

@media(max-width:900px){

  .navbar{
    padding:20px;
    flex-direction:column;
    gap:15px;
  }

  nav{
    flex-wrap:wrap;
    justify-content:center;
  }

}