.process-section{
  padding:120px 10%;
  background:#f7f2eb;
}

.timeline{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
}

/* .timeline-card{
  background:white;
  padding:30px;
  border-radius:18px;
  text-align:center;
  box-shadow:0 5px 15px rgba(0,0,0,.08);
} */
/* .timeline-card{
  background:rgba(255,255,255,0.15);
  backdrop-filter:blur(12px);

  border:1px solid rgba(255,255,255,0.2);

  border-radius:20px;
}
.timeline-card h3{
  color:#d4af37;
  font-size:36px;
}

.timeline-card h4{
  margin:15px 0;
} */
.timeline-card{
  position:relative;
}

.timeline-card::before{
  content:"";

  position:absolute;
  inset:0;

  border:4px solid #d4af37;

  transform:scaleX(0);

  transform-origin:left;

  transition:.8s;
}

.timeline-card:hover::before{
  transform:scaleX(1);
}