.stats{
  padding:100px 10%;

  background:#2c1a0e;

  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

  gap:25px;
}

.stat-card{
  text-align:center;
  color:white;
}

.stat-card h2{
  color:#d4af37;
  font-size:48px;
}

.stat-card p{
  margin-top:10px;
}
