.vision-mission{
  padding:120px 8%;
  background:#f9f9f9;
}

.vision-mission-container{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:30px;
  margin-top:50px;
}

.vision-card,
.mission-card{
  background:white;
  padding:40px;
  border-radius:20px;

  box-shadow:
    0 10px 25px rgba(0,0,0,.08);

  transition:.4s;
}

.vision-card:hover,
.mission-card:hover{
  transform:translateY(-8px);

  box-shadow:
    0 15px 35px rgba(212,175,55,.25);
}

.vision-card h3,
.mission-card h3{
  color:#d4af37;
  font-size:32px;
  margin-bottom:20px;
}

.vision-card p,
.mission-card p{
  line-height:1.8;
  font-size:18px;
}
@media(max-width:768px){

  .vision-mission-container{
    grid-template-columns:1fr;
  }
}